.about {
    display: flex;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    border-right: 1px solid var(--color-text);
}

.about__content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 20px;
    padding-left: 1em;
}

.about__content p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-text);
    margin-bottom: 20px;
    padding-left: 1em;
}

.about__technologies h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1rem;
    color: var(--color-title);
    margin-bottom: 20px;
}

.about__technologies-list {
    display: flex;
}

.about__technologies-ul {
    display: flex;
    flex-direction: column;
    gap: 4em;
    list-style-type: '\1F44D';
    padding-left: 3em;
    padding-right: 10em;
}

.about__technologies-li {
    font-size: 1.5rem;
    padding-left: 1em;
}

@media (max-width: 1310px) {
    .about__technologies-ul {
        padding-right: 3em;
    }

    .about__content p {
        font-size: 1.2rem;
    }

    .about__technologies-li {
        font-size: 1.2rem;
    }

    .about__content h2 {
        font-size: 2rem;
        padding-left: 0.6em;
    }
}

@media (max-width: 1024px) {
    .about__technologies-ul {
        padding-right: 1.5em;
    }
}

@media (max-width: 768px) {
    .about__technologies-ul {
        padding-right: 0.3em;
    }

    .about__content p {
        margin-right: 0.5em;
    }
  }

@media (max-width: 640px) {
    .about {
        flex-direction: column;
    }

    .about__content {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--color-text);
    }

    .about__technologies h2 {
        margin-top: 0.5em;
    }

    .about__technologies-ul {
        padding-right: 5em;
    }
}

