.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.projects__title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 2rem;
}

.projects__description {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-text);
    margin-bottom: 5rem;
}

.worldchess {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.worldchess-img img {
    width: 600px;
    height: 600px;
}

.worldchess-content {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.worldchess-content h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-title);
}

.worldchess-content p {
    width: 400px;
}

.nft {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nft-img img {
    width: 600px;
    height: 600px;
}

.nft-content {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nft-content h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-title);
}

.nft-content p {
    width: 400px;
}

.imperativePrograming {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imperativePrograming-img img {
    width: 600px;
    height: 600px;
}

.imperativePrograming-content {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.imperativePrograming h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-title);
}

.imperativePrograming-content p {
    width: 400px;
}

@media (max-width: 1310px) {
    .projects__description {
        font-size: 1.2rem;
        margin-bottom: 5rem;
    }

    .worldchess-img img {
        width: 400px;
        height: 400px;
    }

    .worldchess-content {
        width: 400px;
        height: 400px;
    }

    .worldchess-content p {
        width: 300px;
    }

    .nft-img img {
        width: 400px;
        height: 400px;
    }

    .nft-content {
        width: 400px;
        height: 400px;
    }

    .nft-content p {
        width: 300px;
    }

    .imperativePrograming-img img {
        width: 400px;
        height: 400px;
    }

    .imperativePrograming-content {
        width: 400px;
        height: 400px;
    }

    .imperativePrograming-content p {
        width: 300px;
    }
  }

  @media (max-width: 1024px) {
    .projects__description {
        font-size: 1rem;
    }

    .worldchess-img img {
        width: 300px;
        height: 300px;
    }

    .worldchess-content {
        width: 300px;
        height: 300px;
        gap: 1rem;
    }

    .worldchess-content p {
        width: 250px;
        font-size: 0.8rem;
    }

    .nft-img img {
        width: 300px;
        height: 300px;
    }

    .nft-content {
        width: 300px;
        height: 300px;
        gap: 1rem;
    }

    .nft-content p {
        width: 250px;
        font-size: 0.8rem;
    }

    .imperativePrograming-img img {
        width: 300px;
        height: 300px;
    }

    .imperativePrograming-content {
        width: 300px;
        height: 300px;
        gap: 1rem;
    }

    .imperativePrograming-content p {
        width: 250px;
        font-size: 0.8rem;
    }
  }

  @media (max-width: 640px) {
    .projects__description {
        text-align: center;
    }

    .worldchess {
        flex-direction: column;
    }

    .nft {
        flex-direction: column-reverse;
    }

    .imperativePrograming {
        flex-direction: column;
    }
}